@import '~bootstrap/scss/bootstrap';
@import '@/components/Table/styles.scss';
@import '@/components/Navbar/styles.scss';
@import '@/pages/Schedule/styles.scss';
@import '@/templates/SystemPage/styles.scss';

html,
body {
  background-color: $light;
}

a {
  color: $secondary;

  &:hover {
    color: $secondary;
    opacity: 0.8;
  }
}

text-area,
input {
  outline: none;
}
